<launch>

	<param name="robot_description" command="$(find xacro)/xacro '$(find sodabot)/sodabot.urdf.xacro'"/>

	<rosparam command="load" file="$(find sodahead_ctl)/config/sodahead_conf.yaml" ns="sodahead_node"/>

	<node pkg="sodahead_ctl" type="sodahead_node" name="sodahead_node"  output="screen">
	      <remap from="/head_controller/joint_states" to="/joint_states"/>
	</node>

	<node respawn="true" pkg="joy"
        type="joy_node" name="teleop_joy" >
    	<param name="dev" type="string" value="/dev/input/js0" />
    	<param name="deadzone" value="0.12" />
  	</node>

	<!-- Axes -->
	<param name="axis_linear" value="1" type="int"/>
	<param name="axis_angular" value="0" type="int"/>
	<param name="scale_linear" value="1" type="double"/>
	<param name="scale_angular" value="3.14" type="double"/>

	<param name="axis_head_pan" value="2" type="int"/>
	<param name="scale_head_pan" value="3.14" type="double"/>
	<param name="axis_head_tilt" value="5" type="int"/>
	<param name="scale_head_tilt" value="-1.57" type="double"/>

	<node pkg="sodabot_teleop" type="sodabot_teleop" name="teleop" required="true"/>
	
</launch>
