<launch>
	<machine name="deep-thought" address="deep-thought" env-loader="/home/geh/rosenv.sh" />
	<machine name="sodabot" address="sodabot" env-loader="/home/geh/rosenv.sh" />
	<machine name="optimus" address="optimus" env-loader="/home/geh/rosenv.sh" />

	<param name="robot_description" command="$(find xacro)/xacro '$(find sodabot)/sodabot.urdf.xacro'"/>

	<include file="$(find sodabot)/launch/kinect2_bridge.launch">
    	<arg name="fps_limit" value="20"/>
    	<arg name="publish_tf" value="false"/>
    	<arg name="base_name" value="head_mount_kinect2"/>
		<arg name="use_machine" value="true"/>
		<arg name="machine" value="sodabot"/>
	</include>

	<include file="$(find sodabot)/launch/rgbdslam_kinect2.launch" machine="deep-thought">
    	<arg name="base_name" value="head_mount_kinect2"/>		
	</include>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" machine="deep-thought">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="map" />
		<param name="sensor_model/max_range" value="5.0" />
        <param name="filter_ground" value="true"/>
        <param name="pointcloud_max_z" value="1.5"/>
        <param name="pointcloud_min_z" value="-0.10"/>
        <param name="occpancy_min_z" value="0"/>
		<remap from="cloud_in" to="/rgbdslam/online_clouds" />
	</node>

	<rosparam command="load" file="$(find sodahead)/config/sodahead_conf.yaml" ns="sodahead_node"/>
	<node pkg="sodahead_ctl" type="sodahead_node" name="sodahead_node"  machine="sodabot">
	      <remap from="/head_controller/joint_states" to="/joint_states"/>
	</node>
<!--
	<node pkg="sodadrive" type="wheel_controller_node" name="wheel_controller_node" machine="sodabot"/>
    <node pkg="sodadrive" type="drive_controller_node" name="drive_controller_node" machine="sodabot"/>
-->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" machine="sodabot">
	</node>

	<node respawn="true" pkg="joy"
        type="joy_node" name="teleop_joy" machine="optimus">
    	<param name="dev" type="string" value="/dev/input/js0" />
    	<param name="deadzone" value="0.12" />
  	</node>

	<!-- Axes -->
	<node pkg="sodabot_teleop" type="sodabot_teleop" name="teleop" required="true" machine="optimus">
		<param name="axis_linear" value="-1" type="int"/>
		<param name="axis_accel" value="4" type="int"/>
		<param name="axis_decel" value="3" type="int"/>
		<param name="axis_angular" value="0" type="int"/>
		<param name="scale_linear" value="0" type="double"/>
		<param name="scale_accel" value="-0.5" type="double"/>
		<param name="scale_decel" value="0.25" type="double"/>
		<param name="offset_accel" value="-1.0" type="double"/>
		<param name="offset_decel" value="-1.0" type="double"/>
		<param name="scale_angular" value="1.57" type="double"/>

		<param name="axis_head_pan" value="2" type="int"/>
		<param name="scale_head_pan" value="3.14" type="double"/>
		<param name="axis_head_tilt" value="5" type="int"/>
		<param name="scale_head_tilt" value="-1.57" type="double"/>
	</node>
</launch>
